<p-toast/>

<main>
    <p-fieldset class="fieldset">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-4">
                <i class="pi pi-user text-2xl"></i>
                <h2>Iniciar Sesión</h2>
            </div>
        </ng-template>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="field">
                <label for="username">Email</label>
                <input pInputText errorChecker 
                       id="username" type="email"
                       formControlName="username">
            </div>

            <div class="field">
                <label for="password">Contraseña</label>
                <p-password errorChecker inputId="password"
                            [toggleMask]="true"
                            [feedback]="false"
                            formControlName="password"/>
            </div>
            
            <div class="buttons mt-6">
                <p-button label="Ingresar" type="submit"/>
            </div>
        </form>

    </p-fieldset>
</main>
