<!-- eslint-disable @angular-eslint/template/elements-content -->

<h1 class="mb-5">Usuarios</h1>

<p-toast/>
<p-confirmDialog/>

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
        <p-button label="Crear usuario"
                  icon="pi pi-plus"
                  styleClass="mr-2 p-button-success"
                  [disabled]="isRestricted()"
                  (onClick)="addOrEditUser(null)"/>

        <p-button label="Eliminar seleccionados"
                  icon="pi pi-trash"
                  styleClass="p-button-danger"
                  [disabled]="selectedUsers.length <= 0"
                  (onClick)="deleteSelectedUsers()"/>
    </ng-template>
</p-toolbar>

<p-table [value]="users()"
         [rows]="4"
         [paginator]="true"
         [rowHover]="true"
         [(selection)]="selectedUsers">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-4rem">
                <p-tableHeaderCheckbox/>
            </th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <p-tableCheckbox [value]="user" [disabled]=""/>
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td class="text-center">
                <p-button type="button" icon="pi pi-pencil"
                          size="small" styleClass="mr-3 p-button-rounded"
                          (onClick)="addOrEditUser(user)">
                </p-button>
                <p-button type="button" icon="pi pi-trash"
                          size="small" styleClass="p-button-rounded p-button-warning"
                          (onClick)="deleteUser(user)">
                </p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div>En total hay {{ users() ? users()!.length : 0 }} usuarios.</div>
    </ng-template>
</p-table>
