<!-- eslint-disable @angular-eslint/template/elements-content -->

<h1 class="mb-5">Usuarios</h1>

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
        <p-button label="Añadir"
                  icon="pi pi-plus"
                  severity="success"
                  styleClass="mr-2"
                  (onClick)="users"/>

        <p-button label="Eliminar"
                  icon="pi pi-trash"
                  severity="danger"
                  [disabled]="selectedUsers.length <= 0"
                  (onClick)="deleteSelectedUsers()"/>
    </ng-template>
</p-toolbar>

<p-table [value]="users()"
         [rows]="10"
         [paginator]="true"
         [rowHover]="true"
         [(selection)]="selectedUsers">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-4rem">
                <p-tableHeaderCheckbox/>
            </th>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Role</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <p-tableCheckbox [value]="user"/>
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.role }}</td>
            <td class="text-center">
                <p-button type="button" icon="pi pi-pencil"
                          size="small" styleClass="mr-3">
                </p-button>
                <p-button type="button" icon="pi pi-trash"
                          severity="warning" size="small"
                          (onClick)="deleteUser(user)">
                </p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div>En total hay {{ users() ? users()!.length : 0 }} usuarios.</div>
    </ng-template>
</p-table>

<p-toast/>
<p-confirmDialog/>