<h1 class="mb-5">Equipos</h1>

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
        <p-button label="Crear equipo"
                  icon="pi pi-plus"
                  styleClass="mr-2 p-button-success"
                  routerLink="./add"/>

        <p-button label="Eliminar seleccionados"
                  icon="pi pi-trash"
                  styleClass="p-button-danger"/>
    </ng-template>
</p-toolbar>

<p-table dataKey="id"
         [value]="teams()"
         [rows]="4"
         [paginator]="true"
         [rowHover]="true"
         [rowSelectable]="">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-4rem">
                <p-tableHeaderCheckbox/>
            </th>
            <th>Id</th>
            <th>Equipo</th>
            <th>No. Integrantes</th>
            <th>Cuenta asociada</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teams>
        <tr>
            <td>
                <p-tableCheckbox [value]="teams" [disabled]=""/>
            </td>
            <td>{{ teams.id }}</td>
            <td>{{ teams.name }}</td>
            <td>{{ teams.users.length }} integrantes</td>
            <td>{{ teams.accountId || '-' }}</td>
            <td class="text-center">
                <p-button type="button"
                          icon="pi pi-eye"
                          size="small"
                          styleClass="mr-3 p-button-rounded"
                          [routerLink]="['/team', teams.id]"/>
                          
                <p-button type="button" icon="pi pi-trash"
                          size="small" styleClass="p-button-rounded p-button-warning"/>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div>En total hay {{ teams() ? teams()!.length : 0 }} equipos.</div>
    </ng-template>
</p-table>
