<h1 class="mb-2">{{(true) ? 'Crear' : 'Detalle de'}} equipo</h1>
<h2 class="mb-5">{{ 'Team' }}</h2>

<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

    <p-toolbar styleClass="mb-5">
        <ng-template pTemplate="left">
            <p-button *ngIf="true"
                      type="button"
                      icon="pi pi-pencil"
                      styleClass="mr-3"
                      label="Editar equipo"/>

            <p-button *ngIf="true"
                      type="submit"
                      icon="pi pi-pencil"
                      styleClass="mr-3"
                      [label]="(true) ? 'Guardar equipo' : 'Guardar cambios'"/>
        </ng-template>
    </p-toolbar>
    
    <p-fieldset legend="Nombre del equipo" styleClass="mb-4">
        <div class="field">
            <label for="name"></label>
            <input pInputText errorChecker type="text" id="name" formControlName="name">
        </div>
    </p-fieldset>

    <p-fieldset legend="Integrantes">
        <div class="field">
            <div class="members mb-4">
                <label for="members">Conforma tu equipo con tantas personas como necesites.</label>
                <p-button id="members" icon="pi pi-plus" type="button" pTooltip="Agregar persona" (onClick)="addMember()"/>
            </div>
            
            <div formArrayName="users">
                <div *ngFor="let member of members.controls; let i = index" [formGroupName]="i">
                    <div class="member mb-3">
                        <p-dropdown errorChecker
                                    inputId="team"
                                    placeholder="Selecciona un integrante"
                                    optionLabel="fullname"
                                    optionValue="id"
                                    formControlName="userId"
                                    [options]="users()"/>

                        <p-calendar errorChecker
                                    placeholder="Fecha de inicio"
                                    formControlName="startDate"
                                    [showIcon]="true"
                                    dateFormat="dd/mm/yy"/>

                        <p-calendar errorChecker
                                    placeholder="Fecha de finalización"
                                    formControlName="endDate"
                                    [showIcon]="true"
                                    dateFormat="dd/mm/yy"/>
    
                        <p-button type="button"
                                  icon="pi pi-trash"
                                  styleClass="ml-4 p-button-danger"
                                  pTooltip="Eliminar persona"
                                  (onClick)="deleteMember(i)"/>
                    </div>
                </div>
            </div>
        </div>
    </p-fieldset>
</form>